<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RecordLogins</filter-name>
        <filter-class>filter.RecordLogins</filter-class>
    </filter>
    <filter>
        <filter-name>validateFilter</filter-name>
        <filter-class>filter.validateFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>filter.RegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ErrorFilter</filter-name>
        <filter-class>filter.ErrorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ErrorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RecordLogins</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadmorecontroller</servlet-name>
        <servlet-class>controller.web.loadmorecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchbyAjax</servlet-name>
        <servlet-class>controller.web.SearchbyAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmail</servlet-name>
        <servlet-class>controller.web.login.LoginEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.web.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.web.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.web.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.web.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryServlet</servlet-name>
        <servlet-class>controller.web.filter.FilterCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.web.cart_wishlist.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailProducts</servlet-name>
        <servlet-class>controller.web.detailProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.web.cart_wishlist.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.web.cart_wishlist.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateQuantityController</servlet-name>
        <servlet-class>controller.web.cart_wishlist.updateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOutController</servlet-name>
        <servlet-class>controller.web.checkout.checkOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexController</servlet-name>
        <servlet-class>controller.web.indexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkDiscountController</servlet-name>
        <servlet-class>controller.web.checkout.checkDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>controller.web.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.web.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.web.profile.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryServlet</servlet-name>
        <url-pattern>/filterCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailProducts</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateQuantityController</servlet-name>
        <url-pattern>/updateQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkDiscountController</servlet-name>
        <url-pattern>/checkdiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadmorecontroller</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchbyAjax</servlet-name>
        <url-pattern>/searchajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmail</servlet-name>
        <url-pattern>/loginemail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
</web-app>
